/* commented backslash hack \*/ 
html, body { height: 100%; } 
/* end hack */
*					{ margin: 0; padding: 0; }
body, div, tr, td	{ color: #000; font: normal 13px Verdana, sans-serif; }
body				{ background-color: #FFF; margin: 30px; height: 95%; }
a					{ color: #600; }
a					{ text-decoration: underline; }
a:hover				{ text-decoration: underline; }
img					{ display: block; margin: 0 auto; }	/* don't generate line-boxes (for text) for images in Firefox */
ol, ul, li			{ margin-left: 15px; padding: 5px 0px 5px 0px; }
h1, h2, h3			{ text-align: center; }
h1					{ font-size: 32px; margin-bottom: 20px; }
h2					{ font-size: 16px; margin-top: 15px; margin-bottom: 5px; }
h3					{ font-size: 14px; }
p, h1, h2, h3, li	{ line-height: 20px; padding: 8px; }
h1					{ margin-top: 20px; }

iframe				{ width: 90%; height: 90%; }
div.content-wrapper	{ display: table; }
div.content-cell	{ display: table-cell; vertical-align: middle; }
div.slide			{ display: none; }
